<!-- bread-crumb start here -->
<div class="bread-crumb">
	<img src="/main_theme/images/banner-top.jpg" class="img-responsive" alt="banner-top" title="banner-top">
	<div class="container">
		<div class="matter">Compare</div>
	</div>
</div>
<!-- bread-crumb end here -->

<!-- coures start here -->
<div class="coures">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-xs-12 hidden-xs">
				<div class="left">
					<h4>POPULAR COURSES</h4>
					<div class="popular">
						{{#each data}}
						<a href="/detail/{{this.Institution.name}}/{{this.name}}/{{this.id}}">
							<div class="box">
								<img src="/main_theme/images/p1.jpg" class="img-responsive" alt="img" title="img" />
								<p>{{this.name}}</p>
								<span>£{{this.fee}}</span>
							</div>
						</a>
						{{/each}}
					</div>
				</div>
			</div>
			<div class="col-sm-9 col-xs-12">

				<div class="col-sm-12 sort">
					<h3 style="text-align:center">Compare</h3>
				</div>
				<div ng-controller="school" class="col-sm-12 sort">
					<div class="row">
						<div class="col-lg-3">
							<select id="uni1" class="form-control">
								<option value="0">--Institution 1--</option>

								<option value="{[{u.uni.id}]}" ng-repeat="u in menu">{[{u.uni.name}]}</option>

							</select>
						</div>
						<div class="col-lg-4">
							<select id="uni2" class="form-control">
								<option value="0">--Institution 2--</option>

								<option value="{[{u.uni.id}]}" ng-repeat="u in menu">{[{u.uni.name}]}</option>
							</select>
						</div>
						<div class="col-lg-4">
							<select id="faculty" class="form-control">
								<option value="0">--Select Faculty--</option>
								<option value="0">All</option>
								<option value="{[{u.id}]}" ng-repeat="u in drop.faculty">{[{u.name}]}</option>
							</select>
						</div>
						<div class="col-lg-1">
							<button id="btnSearch" class="btn btn-primary"> <i class="fa fa-search"></i></button>
						</div>
					</div>
				</div>
				<div class="row">
					<table id="table1" class="display" style="width:100%">
						<thead>
							<tr>
								<th>Name</th>
								<th>Faculty</th>
								<th>Fee</th>

							</tr>
						</thead>
					</table>

					<table id="table2" class="display" style="width:100%">
						<thead>
							<tr>
								<th>Name</th>
								<th>Faculty</th>
								<th>Fee</th>
							</tr>
						</thead>
					</table>
				</div>
				<hr>
				<!-- Courses list start here -->




				<!--Courses list ends here-->
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {

		var btnSearch = document.getElementById("btnSearch");


		var cboUni1 = document.getElementById("uni1");


		var cboUni2 = document.getElementById("uni2");


		var cboFaculty = document.getElementById("faculty");

		function getIputs() {
			return {
				uni1: cboUni1.options[cboUni1.selectedIndex].value,
				uni2: cboUni2.options[cboUni2.selectedIndex].value,
				faculty: cboFaculty.options[cboFaculty.selectedIndex].value
			}
		}


		btnSearch.addEventListener("click", function () {
			callApi(getIputs().uni1, getIputs().uni2, getIputs().faculty);
		});
		function callApi(uni1, uni2, faculty) {

			$('#table1').DataTable({
				"ajax": {
					"url": "/compareFee",
					"type": "POST",
					"data": { institutionId: uni1, institutionId2: uni2, facultyId: faculty },
					"dataSrc": "data"
				},
				"bDestroy": true,
				"deferRender": true,
				"columns": [
					{
						"data": "name"
					},
					{
						"data": "StudyArea.name"
					},
					{
						"data": "fee"
					}

				]
			});

		}
		callApi(getIputs().uni1, getIputs().uni2, getIputs().faculty);

	});
</script>
<!-- coures end here -->


<!-- coures end here -->