<!-- bread-crumb start here -->
<div class="bread-crumb">
	<img src="/main_theme/images/banner-top.jpg" class="img-responsive" alt="banner-top" title="banner-top">
	<div class="container">
		<div class="matter">All Courses</div>
	</div>
</div>
<!-- bread-crumb end here -->

<!-- coures start here -->
<div class="coures">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-xs-12 hidden-xs">
				<div class="left">
					<h4>POPULAR COURSES</h4>
					<div class="popular">
						{{#each data}}
						<a href="/detail/{{this.Institution.name}}/{{this.name}}/{{this.id}}">
							<div class="box">
								<img src="/main_theme/images/p1.jpg" class="img-responsive" alt="img" title="img" />
								<p>{{this.name}}</p>
								<span>£{{this.fee}}</span>
							</div>
						</a>
						{{/each}}
					</div>
				</div>
			</div>
			<div class="col-sm-9 col-xs-12">
				<div class="col-sm-12 sort">
					<h3 style="text-align:center">Search for courses</h3>
				</div>
				<div ng-controller="school" class="col-sm-12 sort">
					<div class="row">
						<div class="col-lg-3">
							<select id="degree" class="form-control">
								<option value="0">--Select Degree--</option>
								<option value="0">All</option>
								<option value="{[{u.id}]}" ng-repeat="u in drop.degree">{[{u.name}]}</option>

							</select>
						</div>
						<div class="col-lg-4">
							<select id="faculty" class="form-control">
								<option value="0">--Select Faculty--</option>
								<option value="0">All</option>
								<option value="{[{u.id}]}" ng-repeat="u in drop.faculty">{[{u.name}]}</option>
							</select>
						</div>
						<div class="col-lg-4">
							<select id="city" class="form-control">
								<option value="0">--Select Location--</option>
								<option value="0">All</option>
								<option value="{[{u.id}]}" ng-repeat="u in drop.cities">{[{u.name}]}</option>
							</select>
						</div>
						<div class="col-lg-1">
							<button id="btnSearch" class="btn btn-primary"> <i class="fa fa-search"></i></button>
						</div>
					</div>
				</div>
				<div class="row">
					<table id="example" class="display" style="width:100%">
						<thead>
							<tr>
								<th>Name</th>
								<th>Tuition Fee</th>
								<th>Faculty</th>
								<th>Degree</th>
								<th>Institution</th>

							</tr>
						</thead>
					</table>
				</div>
				<hr>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {

		var btnSearch = document.getElementById("btnSearch");


		var cboFaculty = document.getElementById("faculty");
		var facultyVal = cboFaculty.options[cboFaculty.selectedIndex].value;

		var cboDegree = document.getElementById("degree");
		var degreeVal = cboDegree.options[cboDegree.selectedIndex].value;

		var cboCity = document.getElementById("city");
		var cityVal = cboCity.options[cboCity.selectedIndex].value;
		btnSearch.addEventListener("click", function () {
			var degree = cboDegree.options[cboDegree.selectedIndex].value;
			var faculty = facultyVal = cboFaculty.options[cboFaculty.selectedIndex].value;
			var city = cboCity.options[cboCity.selectedIndex].value;

			callApi(degree, faculty, city);
		});
		function callApi(degree, faculty, city) {

			$('#example').DataTable({
				"ajax": {
					"url": "/courseSearch",
					"type": "POST",
					"data": { degreeId: degree, facultyId: faculty, cityId: city },
					"dataSrc": "data"
				},
				"bDestroy": true,
				"deferRender": true,
				"columns": [{
					"data": "Institution.name",
					"render": function (data, type, row, meta) {
						if (type === 'display') {
							data = `<a href=" detail/${row.Institution.name}/${row.name}/ ${row.id}" >${row.name}</a>`;
						}
						return data;
					}
				},
				{
					"data": "fee"
				},
				{
					"data": "DegreeType.name"
				},
				{
					"data": "StudyArea.name"
				},

				{
					"data": "Institution.name"
				},

				]
			});
		}
		callApi(degreeVal, facultyVal, cityVal);

	});
</script>
<!-- coures end here -->


<!-- coures end here -->