<!-- slider start here -->
<div class="slide">
	<div id="owl-home" class="slideshow owl-carousel">
		{{#each banner}}
		<div style="height:350px" class="item">
			<img src="/uploads/{{this.path}}" alt="banner" title="banner" class="img-responsive" />
		</div>
		<!-- <div style="height:350px"  class="item">
			<img src="/main_theme/images/banner.jpg" alt="banner" title="banner" class="img-responsive"/>
		</div>
		<div style="height:350px"  class="item">
			<img src="/main_theme/images/banner.jpg" alt="banner" title="banner" class="img-responsive"/>
		</div> -->
		{{/each}}
	</div>
	<!-- slide-detail start here -->
	<!-- <div class="slide-detail">
		<div  class="container">
			<div class="matter">

				<h4 style="font-size:32px">THE SIMPLEST WAY TO APPLY, ENROL & SETTLE FOR STUDY IN SCOTLAND</h4>
				<p class="des">Our all-in-one platform helps you monitor and secure admission, guides you through visa processes and settles your accommodation.</p>
			</div>

		</div>
	</div> -->
	<!-- slide-detail end here -->
</div>
<!-- slider end here -->

<!-- service start here -->
<div class="service">
	<div class="container">
		<div class="row">
			<!-- aboutweek start here -->
			<div class="aboutweek">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div style="text-align:center" class="box">
								<div class="row">
									<div class="col-lg-3"></div>
									<div class="col-lg-6">
										<h1 style="font-size:60px; text-align:center"><strong>Simple Process</strong>
										</h1>"... take full charge of your future"
									</div>
									<div class="col-lg-3">
										<button onclick="window.location.href = '/user/login';" id="btnReg"
											type="button">APPLY
											NOW</button>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>

			<a href="/user/register">
				<div class="col-sm-2 col-xs-12 box text-center">
					<div class="icons">
						<div class="icon">
							<img src="/main_theme/images/icon_01.png" class="img-responsive" alt="icon" title="icon" />
						</div>
					</div>
					<h4>Create your account</h4>
				</div>
			</a>
			<a href="/schools">
				<div class="col-sm-2 col-xs-12 box text-center">
					<div class="icons">
						<div class="icon">
							<img src="/main_theme/images/icon_01.png" class="img-responsive" alt="icon" title="icon" />
						</div>
					</div>
					<h4>Apply to preferred institution</h4>
				</div>
			</a>
			<a href="/dashboard">
				<div class="col-sm-2 col-xs-12 box text-center">
					<div class="icons">
						<div class="icon">
							<img src="/main_theme/images/icon_02.png" class="img-responsive" alt="icon" title="icon" />
						</div>
					</div>
					<h4>Monitor your application</h4>
				</div>
			</a>
			<a href="/visa-application-guideline">
				<div class="col-sm-2 col-xs-12 box text-center">
					<div class="icons">
						<div class="icon">
							<img src="/main_theme/images/icon_03.png" class="img-responsive" alt="icon" title="icon" />
						</div>
					</div>
					<h4>Visa guidance & application</h4>
				</div>
			</a>
			<a href="/pre-departure">
				<div class="col-sm-2 col-xs-12 box text-center">
					<div class="icons">
						<div class="icon">
							<img src="/main_theme/images/icon_04.png" class="img-responsive" alt="icon" title="icon" />
						</div>
					</div>
					<h4>Pre-departure</h4>
				</div>
			</a>
			<a href="/about-scotland">
				<div class="col-sm-2 col-xs-12 box text-center">
					<div class="icons">
						<div class="icon">
							<img src="/main_theme/images/icon_01.png" class="img-responsive" alt="icon" title="icon" />
						</div>
					</div>
					<h4>Settle in Scotland</h4>
				</div>
			</a>
		</div>
	</div>
</div>
<!-- service end here -->

<!-- about start here -->
<div class="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-xs-12">
				<div class="commontop text-left">
					<h2>About us</h2>
					<p>Scotia-World is an innovative business venture set-up to help international students with
						intentions of studying and living in Scotland achieve their dreams through a
						seamless-technological process.</p>
					<hr>
				</div>
				<p class="des">We are committed to helping international students choose perfect courses to suit their
					careers, as well as providing a range of top ranked academic institutions in Scotland to put them on
					a right path. We are associated with the best universities in Scotland to help secure admission
					easily and monitor your enrolment process through our seamless technology... <a href="/about">View
						more</a></p>
				<div class="image">
					<img src="/main_theme/images/home-group2.jpg" class="img-responsive" alt="img" title="img" />
					<div class="icon">
						<div class="ico"><a href="#"><i class="icofont icofont-ui-play"></i></a></div>
					</div>
				</div>

			</div>
			<div class="col-sm-4 col-xs-12 feature">
				<div class="commontop text-left">
					<h2>Why choose us?</h2>
					<p>Our business directors and staff are alumni of prestigious universities in Scotland. Therefore,
						our services are embedded in Scottish educational system,</p>
					<hr>
				</div>
				<p class="des">culture and heritage as well as working closely with all Scottish institutions in order
					<a href="/why-us">View more</a> </p>

				<!-- <div class="box">
					<img src="/main_theme/images/icon01.png" class="img-responsive" alt="icon" title="icon" />
					<p>Learn Courses online</p>
					<a href="#">View more</a>
				</div>
				<div class="box">
					<img src="/main_theme/images/icon02.png" class="img-responsive" alt="icon" title="icon" />
					<p>Online Library Store</p>
					<a href="#">View more</a>
				</div> -->
				<img src="/main_theme/images/home-img.jpg" class="img-responsive" />
				<!-- <p class="des">sure international students feel warmly accepted into Scottish environment. Our Mobile app is designed through our first-hand experience in providing solutions to international students’ concerns in terms of application for admission, acceptance, visa application, pre-departure as well as enrolment.

					</p> -->

			</div>
		</div>
	</div>
</div>
<!-- about end here -->

<!-- courses start here -->
<div class="course">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="commontop text-center">
					<h2>our best popular courses for you</h2>
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
					<hr>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="courses owl-carousel">
				{{#each data}}
				<div class="item">
					<div class="col-sm-12 col-xs-12">
						<div class="product-thumb">
							<div class="image">
								<a href="#">
									{{#if this.path}}
									<img style="height:190px" src="/uploads/{{this.path}}" class="img-responsive"
										alt="img" title="img" />
									{{else}}
									<img style="height:190px" src="/main_theme/images/course.png" class="img-responsive"
										alt="img" title="img" />
									{{/if}}
								</a>
							</div>
							<div class="caption">
								<h3><a
										href="/detail/{{this.Institution.name}}/{{this.name}}/{{this.id}}">{{this.Institution.name}}</a>
								</h3>
								<h3><strong>{{this.name}} </strong></h3>
								<h4 style="font-size:13px">{{this.institution.name}}</h4>
								<p></p>
								<ul class="list-inline">
									{{!-- <li>
										<a href="#"></i><strong>{{this.DegreeType.name}}</strong></a>
									</li> --}}

									<li><strong>{{this.fee}}</strong></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
<!-- courses end here -->

<!-- featured start here -->
<div class="featured">
	<div class="image">
		<img src="/main_theme/images/features/bg.jpg" class="img-responsive" alt="bg" title="bg" />
	</div>
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ul class="list-inline">
						<li>
							<div class="box">
								<div class="icon">
									<div class="icons">
										<img src="/main_theme/images/features/icon1.png" class="img-responsive"
											alt="image" title="image" />
									</div>
								</div>
								<h4>Higher Institutions</h4>
								<p>{{institutions}}</p>
							</div>
						</li>
						<li>
							<div class="box">
								<div class="icon">
									<div class="icons">
										<img src="/main_theme/images/features/icon2.png" class="img-responsive"
											alt="image" title="image" />
									</div>
								</div>
								<h4>User Registers</h4>
								<p>2k</p>
							</div>
						</li>
						<li>
							<div class="box">
								<div class="icon">
									<div class="icons">
										<img src="/main_theme/images/features/icon3.png" class="img-responsive"
											alt="image" title="image" />
									</div>
								</div>
								<h4>Faculties</h4>
								<p>{{faculties}}</p>
							</div>
						</li>
						<li>
							<div class="box">
								<div class="icon">
									<div class="icons">
										<img src="/main_theme/images/features/icon4.png" class="img-responsive"
											alt="image" title="image" />
									</div>
								</div>
								<h4>Courses</h4>
								<p>{{courses}}</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
// $(document).ready(function() {
// 	$("#owl-home").owlCarousel({
// 		navigation : false
// 	});
// } );
</script>
<!-- <script>
$(function(){
	alert("jjejje")

})
</script> -->