<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>{{entity.name}} UPDATE FORM</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        {{#if entity.basic}}
                        <form method="post" action="{{entity.url}}update">
                            <label for="password">Name</label>
                            <input type="hidden" value="{{data.id}}" name="id" id="text" class="form-control">
                            <div class="form-group">
                                <div class="form-line">
                                    <input required type="text" value="{{data.name}}" name="name" id="text"
                                        class="form-control">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary m-t-15 waves-effect">UPDATE</button>
                        </form>
                        {{/if}}
                        {{#if entity.richText}}
                        <form method="post" action="{{entity.url}}update">
                            <label for="password">Name</label>
                            <input type="hidden" value="{{data.id}}" name="id" id="text" class="form-control">
                            <div class="form-line">
                                <textarea rows="4" class="form-control no-resize richText" name="name"
                                    placeholder="Enter about">{{data.name}}</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary m-t-15 waves-effect">UPDATE</button>
                        </form>
                        {{/if}}
                        {{#if entity.studyArea}}
                        <form method="post" action="{{entity.url}}update">
                            <label for="password">Name</label>
                            <input type="hidden" value="{{data.id}}" name="id" id="text" class="form-control">
                            <!-- <div class="form-group">
                                       <select required name="institution" class="form-control">
                                          <option value="">{{data.institution.name}}</option>
                                           {{#each institution}}
                                             <option value="{{this._id}}">{{this.name}}</option>
                                           {{/each}}
                                       </select>
                                   </div> -->
                            <div class="form-group">
                                <div class="form-line">
                                    <input required type="text" value="{{data.name}}" name="name" id="text"
                                        class="form-control">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary m-t-15 waves-effect">UPDATE</button>
                        </form>
                        {{/if}}
                        {{#if entity.facultyImage}}

                        {{#if success_msg}}
                        <hr>
                        <div class="alert alert-success">{{success_msg}} <a class="pull-right" style="color: white"
                                href="/facultyImage/listing"> View image list</a></div>
                        {{/if}}


                        <form method="post" enctype="multipart/form-data" action="{{entity.url}}update">
                            <div class="form-group">
                                <input name="path" value="{{data.path}}" type="hidden" />
                                <input name="id" value="{{data.id}}" type="hidden" />
                                <input name="name" value="{{data.name}}" type="hidden" />
                                <select required name="studyAreaId" class="form-control">
                                    <option value="{{data.StudyArea.id}}">{{data.StudyArea.name}}</option>
                                    <option value="">-- Please select Faculty --</option>
                                    {{#each studyArea}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <label for="password">Upload faculty related image</label>
                                        <div class="form-group">
                                            <input class="form-control" type="file" name="file"></input>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <img style="width: 100px; heigth:100px" class="thumbnail"
                                            src="/uploads/{{data.path}}" />
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary m-t-15 waves-effect">SAVE</button>
                        </form>
                        {{/if}}
                        {{#if entity.institution}}
                        <form enctype="multipart/form-data" method="post" action="{{entity.url}}update">
                            {{#if data.path}}
                            <a href="" data-sub-html="Demo Description">
                                <img style="height:50px; width:50px" class="img-responsive thumbnail"
                                    src="/uploads/{{data.path}}">
                            </a>
                            {{/if}}
                            {{#if data.banner}}
                            <a href="" data-sub-html="Demo Description">
                                <img style="height:50px; width:50px" class="img-responsive thumbnail"
                                    src="/uploads/{{data.banner}}">
                            </a>
                            {{/if}}
                            <input name="oldLogoImg" value="{{data.path}}" type="hidden" />
                            <input name="oldBannerImg" value="{{data.banner}}" type="hidden" />
                            <hr>
                            <input type="hidden" value="{{data.id}}" name="id" id="text">
                            <label for="password">Name</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input required type="text" value="{{data.name}}" name="name" id="text"
                                        class="form-control" placeholder="Enter name">
                                </div>
                            </div>
                            <label for="password">About</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <textarea rows="4" class="form-control no-resize richText" name="about"
                                        placeholder="Enter about">{{data.about}}</textarea>
                                </div>
                            </div>
                            <div class="row clearfix">


                                <div class="form-group">
                                    <select required name="city" class="form-control">
                                        <option value="{{data.City.id}}">{{data.City.name}}</option>
                                        {{#each city}}
                                        <option value="{{this.id}}">{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <hr>
                                <label for="password">Logo</label>
                                <div class="form-group">
                                    <input class="form-control" type="file" name="logo"></input>
                                </div>

                                <label for="password">Banner</label>
                                <div class="form-group">
                                    <input class="form-control" type="file" name="banner"></input>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary m-t-15 waves-effect">UPDATE</button>
                        </form>
                        {{/if}}


                        {{#if entity.course}}
                        <form enctype="multipart/form-data" method="post" action="{{entity.url}}update">
                            <input type="hidden" value="{{data.id}}" name="id" id="text">
                            <a href="" data-sub-html="Demo Description">
                                <img style="height:50px; width:50px" class="img-responsive thumbnail"
                                    src="/uploads/{{data.path}}">
                            </a>
                            <input name="oldImg" value="{{data.path}}" type="hidden" />
                            <label for="password">Name</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input required type="text" name="name" value="{{data.name}}" id="text"
                                        class="form-control" placeholder="Enter name">
                                </div>
                            </div>
                            <label for="password">Requirement</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <textarea rows="4" class="form-control no-resize richText" name="requirement"
                                        placeholder="Enter requirement">{{data.requirement}}</textarea>
                                </div>
                            </div>
                            <label for="password">Fee</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input required type="text" name="fee" id="text" value="{{data.fee}}"
                                        class="form-control" placeholder="Enter tuition fee">
                                </div>
                            </div>
                            <label for="password">Duration</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input required type="text" name="duration" value="{{data.duration}}" id="text"
                                        class="form-control" placeholder="Enter duration">
                                </div>
                            </div>
                            <label for="password">Time</label>
                            <div class="form-group">
                                <select required name="time" class="form-control show-tick">
                                    <option value="{{data.time}}">{{data.time}}</option>
                                    <option value="Full-Time">Full-Time</option>
                                    <option value="Part-Time">Part-Time</option>
                                    <option value="Both">Both</option>
                                </select>
                            </div>
                            <label for="password">Institution</label>
                            <div class="form-group">
                                <select required name="institution" class="form-control show-tick">
                                    <option value="{{data.Institution.id}}">{{data.Institution.name}}</option>
                                    {{#each inst}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <label for="password">Degree Type</label>
                            <div class="form-group">
                                <select name="degreeType" class="form-control">
                                    <option required value="{{data.DegreeType.id}}">{{data.DegreeType.name}}</option>
                                    {{#each degreeTypeData}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <label for="password">Study Area</label>
                            <div class="form-group">
                                <select required name="studyArea" class="form-control">
                                    <option value="{{data.StudyArea.id}}">{{data.StudyArea.name}}</option>
                                    {{#each studyAreaData}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            </br>

                            <div class="form-group">
                                <label for="password">Course related image</label>
                                <input class="form-control" type="file" name="logo"></input>
                            </div>

                            <button type="submit" class="btn btn-primary m-t-15 waves-effect">UPDATE</button>
                        </form>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>
<script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea.richText",
        theme: "modern",
        plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "emoticons template paste textcolor colorpicker textpattern"
        ],
        toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        toolbar2: "print preview media | forecolor backcolor emoticons",
        image_advtab: true,
        templates: [
            { title: 'Test template 1', content: 'Test 1' },
            { title: 'Test template 2', content: 'Test 2' }
        ]
    });
</script>
<style>
    #mceu_2. {
        height: 24px;
    }
</style>